/* Importing fonts */
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Assistant", sans-serif;
}

body {
    height: 100vh;
    background-image: url(https://img.freepik.com/free-vector/comic-style-wallpaper_23-2148809775.jpg?t=st=1729769496~exp=1729773096~hmac=59eb07ca9eb74905c6499b4b7bf041be94572dc1bc82cfcf4c7891c2f6b213a4&w=1380);
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
    background-attachment: fixed;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(230, 230, 230);
    padding: 32px 40px 16px;
    border-radius: 12px;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.4);
}

footer {

    font-size: 0.66rem;
}

.wrapper h1 {
    font-size: 4rem;
}

.wrapper h4 {

    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 1.2rem;
}

h3 {

    margin-bottom: 2.8rem;
    font-size: 1.6rem;
    font-weight: 500;
}

#refresh-text {

    font-weight: 500;
    font-size: 1rem;
    margin-bottom: 2rem;
}

.dice-container {

    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 8rem;
    margin-bottom: 1.6rem;
}

.dice p {

    text-align: center;
    margin-bottom: 0.8rem;
    font-size: 1rem;
    font-weight: 500;
}

.dice img {

    height: 120px;
    width: 120px;
    border-radius: 10px;
}

.dropShadow {

    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.4);
}